@using Microsoft.Extensions.Caching.Memory;
@model PTASK.Models.TeamCreate
@{
    var cache = Context.RequestServices.GetRequiredService<IMemoryCache>();
    var mainId = cache.Get("MainProject");
}
<div class="modal fade" id="modalGroup" tabindex="-1" aria-hidden="true">
    <input type="hidden" value="@mainId" id="mainId"/>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Tạo nhóm</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Team" asp-action="CreateTeam">
                    <div class="row">
                        <div class="col mb-3">
                            <label asp-for="teamName" class="form-label">Tên nhóm</label>
                            <span class="text-danger">*</span>
                            <span asp-validation-for="teamName" class="text-danger"></span>

                            <input asp-for="teamName" type="text" id="nameBasic" class="form-control" placeholder="Nhập tên nhóm" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3 ">
                            <label for="emailLeader" class="form-label">Trưởng nhóm</label>
                            <span class="text-danger">*</span>
                            <span asp-validation-for="leaderId" class="text-danger"></span>

                            <div class="d-flex mb-2">
                                <input type="email"
                                       id="emailLeader"
                                       class="form-control me-2"
                                       placeholder="Nhập địa chỉ email" />
                                <button type="button"
                                        class="btn btn-outline-info"
                                        style="width: 150px"
                                        id="addLeader">
                                    <i class='bx bx-plus'></i>Thêm
                                </button>
                            </div>
                            <ul class="list-group" id="leaderList">
                            </ul>
                            <input type="hidden" asp-for="leaderId" id="leaderId" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3 ">
                            <label for="emailMember" class="form-label">Thành viên</label>
                            <span class="text-danger">*</span>
                            <span asp-validation-for="listMembers" class="text-danger"></span>

                            <div class="d-flex mb-2">
                                <input type="email"
                                       id="emailMember"
                                       class="form-control me-2"
                                       placeholder="Nhập địa chỉ email" />
                                <button type="button"
                                        class="btn btn-outline-info"
                                        style="width: 150px"
                                        id="addNewMember">
                                    <i class='bx bx-plus'></i>Thêm
                                </button>
                            </div>
                            <ul class="list-group" id="memberList">
                            </ul>
                            <input type="hidden" asp-for="listMembers" id="listIdMember" />
                        </div>
                    </div>
                    <input type="hidden" asp-for="listTeams" id="listIdMember" />
                    <button type="submit" class="btn btn-primary" id="btnAddWork" data-bs-dismiss="modal"
                            aria-label="Close">
                        Lưu
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
