@using Microsoft.Extensions.Caching.Memory;
@model TeamCreate

@{
    var cache = Context.RequestServices.GetRequiredService<IMemoryCache>();
    var mainId = cache.Get("MainProject");
    var userId = cache.Get("UserId");
    var avatarUser = cache.Get("Avatar");
    var isLeader = cache.Get("isLeader");
}
<div class="modal fade" id="teamDetail" tabindex="-1" aria-hidden="true">
    <input type="hidden" value="@mainId" id="mainId" />

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
         <form asp-controller="Work" asp-action="Create" style="width: 100%">
            <input type="hidden" id="_idUpdate" name="_idUpdate" value="" />
            <form asp-controller="Team" asp-action="CreateTeam">
                <div class="modal-content">
                    <div class="modal-header">
                        <input class="mt-2 ms-2 ip-list" asp-for="teamName" id="teamName">
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-between p-3">
                        <div class="col-9 pe-2">
                            <div class="d-flex justify-content-between">
                                <b>Trưởng nhóm</b>
                                <span>
                                    <a asp-area=""
                                       asp-controller="Team"
                                       asp-action="ListMembers" asp-route-isBack="true" class="text-primary view-detail">Xem chi tiết >></a>
                                </span>
                            </div>
                            <div class="demo-inline-spacing">
                                <ul class="list-group leaderInDeteailTeam">
                                </ul>
                                <input type="hidden" asp-for="leaderId" id="idLeaderInDetailTeam" />
                            </div>
                            <hr />
                            <b>Danh sách thành viên</b>
                            <div class="demo-inline-spacing">
                                <ul class="list-group listMemberInDetailTeam">
                                </ul>
                                <input type="hidden" asp-for="listMembers" id="listIdMemberInDetailTeam" />
                            </div>
                        </div>
                        <div style="width: 33%" class="ms-2">
                            <div class="row">
                                <div class="col ms-2">
                                    <b>Thao tác</b>
                                </div>
                            </div>
                            <div class="demo-inline-spacing mt-2">
                                <div class="list-group list-group-flush">
                                    <a href="javascript:void(0);"
                                       class="list-group-item list-group-item-actio"
                                       data-bs-toggle="dropdown"
                                       data-bs-auto-close="outside"
                                       aria-expanded="false">
                                        <i class='bx bx-user-plus me-2'></i>Thêm thành viên
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="p-2 d-flex align-items-center">
                                                <label for="emailMember" class="me-2">
                                                    Email
                                                </label>

                                                <input type="email"
                                                       id="emailDetailTeam"
                                                       class="form-control me-2"
                                                       placeholder="Nhập địa chỉ email"
                                                       style="width: 150px" />
                                                <button type="button"
                                                        class="btn btn-outline-info"
                                                        id="addMemberInDetailTeam">
                                                    <i class='bx bx-plus'></i>Thêm
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (userId.Equals(mainId) || (bool)isLeader)
                    {
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                Đóng
                            </button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    }
                </div>
            </form>
         </form>
    </div>
</div>