@{
    Layout = "_LayoutProject";
}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml" view-data='@new ViewDataDictionary(ViewData) { { "TitleProject", "Tên Dự án" } }' />
<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1" style="margin-top: 5%;">
            <div class="d-flex justify-content-between mb-2">
                <form class="d-flex" onsubmit="return false">
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm thành viên" aria-label="Tìm kiếm" />
                    <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                </form>
                <button class="btn btn-outline-success" type="submit"><i class='bx bx-user-plus'></i>Thêm thành viên</button>
            </div>
            <div class="card">
                <h5 class="tbl-members text-uppercase"><strong>Danh sách thành viên</strong></h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tên thành viên</th>
                                <th>Avartar</th>
                                <th>Nhiệm vụ tham gia</th>
                                <th>Công việc tham gia</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-primary me-1">Active</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-success me-1">Completed</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-info me-1">Scheduled</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-warning me-1">Pending</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-warning me-1">Pending</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-warning me-1">Pending</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-warning me-1">Pending</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li class="avatar avatar-xs pull-up">
                                            <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                        </li>
                                    </ul>
                                </td>
                                <td>Tổ chức lễ khai giảng</td>
                                <td><span class="badge bg-label-warning me-1">Pending</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

