################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PTASK/FileContentIndex
/PTASK/obj/Debug/net6.0
/.vs/PTASK
/PTASK
