################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PTASK
/.vs
/.vs/PTASK/v17/.suo
/PTASK/bin/Debug/net6.0/PTASK.dll
/PTASK/bin/Debug/net6.0/PTASK.pdb
/PTASK/obj/Debug/net6.0/ref/PTASK.dll
/PTASK/obj/Debug/net6.0/refint/PTASK.dll
/PTASK/obj/Debug/net6.0/PTASK.dll
/PTASK/obj/Debug/net6.0/PTASK.pdb
/PTASK/obj
/PTASK/bin/Debug/net6.0
