@{
    Layout = "_LayoutLogin";
}

<!-- /Logo -->
<h4 class="mb-2">Quên mật khẩu 🔒</h4>
<p class="mb-4">Nhập email của bạn để lấy lại mật khẩu</p>
<form id="formAuthentication" class="mb-3" action="../index.html" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text"
               class="form-control"
               id="email"
               name="email"
               placeholder="Nhập email"
               autofocus />
    </div>
    <button class="btn btn-primary d-grid w-100">Gửi link</button>
</form>
<div class="text-center">
    <a asp-controller="Account" asp-action="Login" class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        Trở về
    </a>
</div>