@model Auth
@{
    Layout = "_LayoutLogin";
}
<!-- /Logo -->
<h4 class="mb-2">Chào mừng đến với PTASK! 👋</h4>
<p class="mb-4">Vui lòng đăng nhập vào tài khoản của bạn và bắt đầu trải nghiệm với chúng tôi</p>

<form class="mb-3" method="POST" asp-controller="Account" asp-action="Login">
    <div class="mb-3">
        <label asp-for="email" class="form-label">Email</label>
        <input type="text"
               asp-for="email"
               class="form-control"
               placeholder="Nhập email của bạn"
               autofocus />
    </div>
    <div class="mb-3 form-password-toggle">
        <div class="d-flex justify-content-between">
            <label class="form-label" asp-for="password">Mật khẩu</label>
            <a asp-controller="Account" asp-action="ForgotPassword">
                <small>Quên mật khẩu?</small>
            </a>
        </div>
        <div class="input-group input-group-merge">
            <input type="password"
                   asp-for="password"
                   class="form-control"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="remember-me" />
            <label class="form-check-label" for="remember-me"> Ghi nhớ tài khoản </label>
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="submit">Đăng nhập</button>
    </div>
</form>

<p class="text-center">
    <span>Bạn chưa có tài khoản?</span>
    <a asp-controller="Account" asp-action="Register">
        <span>Đăng ký ngay</span>
    </a>
</p> 