@{
    Layout = "_LayoutLogin";
}
<!-- /Logo -->
<h4 class="mb-2">Đăng ký tài khoản 🚀</h4>
<p class="mb-4">Hãy tạo tài khoản để bắt đầu công việc nào!</p>
<form id="formAuthentication" class="mb-3" asp-controller="Home" asp-action="Index" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Tên tài khoản</label>
        <input type="text"
               class="form-control"
               id="username"
               name="username"
               placeholder="Nhập tên của bạn"
               autofocus />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Nhập email của bạn" />
    </div>
    <div class="mb-3 form-password-toggle">
        <label class="form-label" for="password">Mật khẩu</label>
        <div class="input-group input-group-merge">
            <input type="password"
                   id="password"
                   class="form-control"
                   name="password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-describedby="password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>

    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
            <label class="form-check-label" for="terms-conditions">
                Tôi đồng ý với
                <a href="javascript:void(0);">chính sách và điều khoản</a>
            </label>
        </div>
    </div>
    <button class="btn btn-primary d-grid w-100">Đăng ký</button>
</form>

<p class="text-center">
    <span>Bạn đã có tài khoản?</span>
    <a href="../Login/login.html">
        <span>Đăng nhập ngay</span>
    </a>
</p>