@model Auth
@{
    Layout = "_LayoutLogin";
}
<!-- /Logo -->
<h4 class="mb-2">Đăng ký tài khoản 🚀</h4>
<span>Hãy tạo tài khoản để bắt đầu công việc nào!</span>
<!-- Account -->
<div class="mb-2 mt-2">
    <form method="POST" asp-controller="Account" asp-action="Register" enctype="multipart/form-data">
        <div class="row">   
            <div class="col-md-6 text-center">
                <label><b>Thông tin đăng nhập</b></label>
            </div>
            <div class="col-md-6 text-center">
                <label><b>Thông tin cá nhân</b></label>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="email" class="form-label">Email</label>
                <input type="email" class="form-control" asp-for="email" placeholder="Nhập email của bạn" />
            </div>
            <div class="mb-3 col-md-6">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="../assets/img/avatars/5.png"
                         alt="user-avatar"
                         class="d-block rounded"
                         height="60"
                         width="60"/>
                    <div class="button-wrapper">
                        <label asp-for="avatar" class="btn btn-primary me-2" tabindex="0">
                            <span class="d-none d-sm-block">Chọn ảnh đại diện</span>
                            <input type="file"
                                   asp-for="avatar"
                                   class="account-file-input"
                                   hidden
                                   accept="image/png, image/jpeg" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" asp-for="password">Mật khẩu</label>
                <div class="input-group input-group-merge">
                    <input type="password"
                           asp-for="password"
                           class="form-control"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="fullName" class="form-label">Họ và Tên</label>
                <input class="form-control" type="text" asp-for="fullName" placeholder="Nhập họ tên"/>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label" asp-for="confirmPassword">Nhập lại mật khẩu</label>
                <div class="input-group input-group-merge">
                    <input type="password"
                           asp-for="confirmPassword"
                           class="form-control"
                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                </div>
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="phoneNumber" class="form-label">Số điện thoại</label>
                <input class="form-control" type="text" asp-for="phoneNumber" placeholder="1234" />
            </div>
            <div class="mb-3 col-md-6">
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="birthday" class="col-form-label">Ngày sinh</label>
                <input class="form-control" type="date" value="" asp-for="birthday" />
            </div>
            <div class="mb-3 col-md-6">
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="gender" class="form-label me-2">Giới tính</label>
                <div class="form-check form-check-inline mt-3">
                    <input class="form-check-input"
                           type="radio"
                           asp-for="gender"
                           value=false />
                    <label class="form-check-label" for="inlineRadio1">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input"
                           type="radio"
                           asp-for="gender"
                           value=true />
                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                </div>
            </div>
            <div class="mb-3 col-md-6">
            </div>
            <div class="mb-3 col-md-6">
                <label asp-for="address" class="form-label">Địa chỉ</label>
                <input class="form-control" type="text" asp-for="address" placeholder="Nhập địa chỉ" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary me-2">Đăng ký</button>
    </form>
</div>
<span>
    Bạn đã có tài khoản?
    <a asp-controller="Account" asp-action="Login">
        <span>Đăng nhập ngay</span>
    </a>
</span>