
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="javascript:void(0);"><i class='bx bx-plus me-2'></i>Thêm công việc</a></li>
    <li><a class="dropdown-item" href="javascript:void(0);"><i class='bx bx-star me-2'></i>Đánh dấu</a></li>
    <li><a class="dropdown-item text-success" href="javascript:void(0);"><i class='bx bx-check me-2'></i>Hoàn thành công việc này</a></li>
    <li>
        <hr class="dropdown-divider" />
    </li>
    <li><a class="dropdown-item text-danger" href="javascript:void(0);"><i class='bx bxs-trash-alt me-2'></i>Xóa công việc</a></li>
</ul>