<div class="modal fade" id="modalWork" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Tạo công việc</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label text-none">Tên công việc</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="Nhập tên công việc" />
                    </div>
                </div>

                <div class="mb-2">
                    <label class="form-label text-none" for="work-start">Ngày bắt đầu</label>
                    <input class="form-control" type="date" value="" id="work-start" />
                </div>
                <div class="mb-2">
                    <label class="form-label text-none" for="work-end">Ngày kết thúc</label>
                    <input class="form-control" type="date" value="" id="work-end" />
                </div>
                <div class="mb-2">
                    <div class="mb-2 d-flex justify-content-between align-items-center">
                        <label class="form-label text-none">Nhiệm vụ cần làm</label>
                        <button data-bs-toggle="modal"
                                data-bs-target="#modalMisson"
                                type="button"
                                class="btn btn-outline-success">
                            <i class='bx bx-plus'></i>Thêm
                        </button>
                    </div>
                    <ul class="list-group listToDo">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Soufflé pastry pie ice</span>
                            <img src="../assets/img/avatars/5.png"
                                 alt="Avatar"
                                 class="rounded-circle pull-up"
                                 width="30"
                                 data-bs-toggle="tooltip"
                                 data-popup="tooltip-custom"
                                 data-bs-placement="top"
                                 title="Lilian Fuller" />
                        </li>
                        <li class="list-group-item">
                            Bear claw cake biscuit
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAddWork" data-bs-dismiss="modal"
                        aria-label="Close">
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>