@{
    Layout = "_LayoutProject";
    ViewData["TitleMission"] = "Thêm nhiệm vụ";
}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml" view-data='@new ViewDataDictionary(ViewData) { { "TitleProject", "Tên Dự án" } }' />
@*<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 5%;">
            <h5 class="mb-4">Danh sách công việc</h5>
            <div class="alert alert-success" role="alert">This is a success alert — check it out!</div>
            <div class="detailProject">
                <div class="pb-5">
                    <div class="card card-effect bg-blur item-work">
                        <div class="card-header d-flex align-items-center dropend">
                            <input class="mt-2 ms-2 ip-list" value="Cần làm">
                            <div class="mt-2 ms-1 rounded-2 btn-operate"
                                 data-bs-toggle="dropdown"
                                 aria-haspopup="true"
                                 aria-expanded="false">
                                <i class='bx bx-dots-horizontal-rounded'></i>
                            </div>
                            <partial name="~/Views/DetailProject/ActionsWork.cshtml" />
                        </div>
                        <div class="ms-2 box " data-bs-toggle="modal"
                             data-bs-target="#largeModal">
                            <div class="target rounded-3" draggable="true">
                                <h5 class="card-title">Primary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up.</p>
                            </div>
                        </div>

                        <div class="card-header d-flex justify-content-start align-items-center m-2 rounded-3 addNewMisson"
                             data-bs-toggle="modal" data-bs-target="#modalMisson">
                            <i class='bx bx-plus ps-2'></i>
                            <div class="ms-2">Thêm nhiệm vụ mới</div>
                        </div>
                    </div>
                </div>
                <div class="pb-5">
                    <div class="card card-effect bg-blur item-work">
                        <div class="card-header d-flex align-items-center dropend">
                            <input class="mt-2 ms-2 ip-list" value="Đang làm">
                            <div class="mt-2 ms-1 rounded-2 btn-operate"
                                 data-bs-toggle="dropdown"
                                 aria-haspopup="true"
                                 aria-expanded="false">
                                <i class='bx bx-dots-horizontal-rounded'></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="ms-2 box">
                            <div class="target rounded-3" draggable="true" data-bs-toggle="modal"
                                 data-bs-target="#modalCenter">
                                <h5 class="card-title">Primary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up.</p>
                            </div>
                        </div>
                        <div class="card-header d-flex justify-content-start align-items-center m-2 rounded-3 addNewMisson">
                            <i class='bx bx-plus ps-2'></i>
                            <div class="ms-2">Thêm nhiệm vụ mới</div>
                        </div>
                    </div>
                </div>
                <div class="pb-5">
                    <div class="card card-effect bg-blur item-work">
                        <div class="card-header d-flex align-items-center dropend">
                            <input class="mt-2 ms-2 ip-list" value="Đã làm">
                            <div class="mt-2 ms-1 rounded-2 btn-operate"
                                 data-bs-toggle="dropdown"
                                 aria-haspopup="true"
                                 aria-expanded="false">
                                <i class='bx bx-dots-horizontal-rounded'></i>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                            </ul>
                        </div>
                        <div class="ms-2 box ">
                            <div class="target rounded-3" draggable="true">
                                <h5 class="card-title">Primary card title 1</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up.</p>
                            </div>
                            <div class="target rounded-3" draggable="true">
                                <h5 class="card-title">Primary card title2</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up.</p>
                            </div><div class="target rounded-3" draggable="true">
                                <h5 class="card-title">Primary card title3</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up.</p>
                            </div><div class="target rounded-3" draggable="true">
                                <h5 class="card-title">Primary card title4</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up.</p>
                            </div><div class="target rounded-3" draggable="true">
                                <h5 class="card-title">Primary card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up.</p>
                            </div>
                        </div>
                        <div class="card-header d-flex justify-content-start align-items-center m-2 rounded-3 addNewMisson">
                            <i class='bx bx-plus ps-2'></i>
                            <div class="ms-2">Thêm nhiệm vụ mới</div>
                        </div>
                    </div>
                </div>

                <div class="card add-new-list" data-bs-toggle="modal" data-bs-target="#modalWork">
                    <div class="card-header d-flex align-items-center" style="height: 100%">
                        <i class='ps-3 bx bx-plus'></i>
                        <div class="ms-2">Thêm công việc mới</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<partial name="~/Views/DetailProject/AddMisson.cshtml" view-data="ViewData" />
<partial name="~/Views/DetailProject/AddWork.cshtml" />
<partial name="~/Views/DetailProject/DetailMisson.cshtml" />*@

<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1" style="margin-top: 5%;">
            <div class="d-flex justify-content-between mb-2">
                <form class="d-flex" onsubmit="return false">
                    <input class="form-control me-2" type="search" placeholder="Tìm kiếm công việc" aria-label="Tìm kiếm" />
                    <button class="btn btn-outline-primary" type="submit" style="width: 200px"><i class='bx bx-search'></i>Tìm kiếm</button>
                </form>
                <button data-bs-toggle="modal" data-bs-target="#modalWork" class="btn btn-outline-success" type="submit"><i class='bx bx-layer-plus me-2'></i>Thêm công việc</button>
            </div>
            <div class="card">
                <h5 class="tbl-members text-uppercase"><strong>Danh sách công việc</strong></h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Tên công việc</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Tiến độ công việc</th>
                                <th style="width:100px">Danh sách nhiệm vụ</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>
                                <td>12/02/2023</td>
                                <td>12/02/2023</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-success"
                                             role="progressbar"
                                             style="width: 40%"
                                             aria-valuenow="40"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                            40%
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center btn-viewListTask">
                                    <i class='bx bx-list-ul text-primary btn-viewListTask'
                                       data-bs-toggle="tooltip"
                                       data-bs-offset="0,4"
                                       data-bs-placement="bottom"
                                       data-bs-html="true"
                                       title="<span>Xem chi tiết</span>"></i>
                                </td>
                                <td><span class="badge bg-label-primary me-1">Active</span></td>
                                <td>
                                    <a href="javascript:void(0);"><i class='bx bx-edit-alt me-1 text-warning'></i></a> ||
                                    <a href="javascript:void(0);"><i class="bx bx-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<partial name="~/Views/DetailProject/AddWork.cshtml" />
<partial name="~/Views/DetailProject/AddTask.cshtml" view-data="ViewData" />