@{
    Layout = "_LayoutProject";
}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml" />

<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1" style="margin-top: 6%;">
            <div class="chart">
                <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
            </div>
        </div>
    </main>
</div>
