@model Project

<div class="modal fade" id="basicModal" tabindex="-1" style="display: none" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="modalCenterTitle">Tạo dự án</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <form method="POST" asp-controller="Project" asp-action="Create" enctype="multipart/form-data">
                    <input asp-for="mainProject" value="@null" hidden />
                    <div class="mb-2">
                        <label class="form-label" for="upload">Hình nền</label>
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <label asp-for="BackgroundFile" tabindex="0">
                                <input type="file"
                                       class="account-file-input"
                                       asp-for="BackgroundFile"
                                       id="upload"
                                       hidden
                                       accept="image/png, image/jpeg" />
                                <label for="upload" class="d-block rounded">
                                    <img src="/assets/img/elements/1.jpg"
                                         alt="user-avatar"
                                         height="200"
                                         width="530"
                                         id="uploadedAvatar" />
                                </label>
                            </label>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="name">Tên dự án</label>
                        <span class="text-danger">*</span>
                        <span asp-validation-for="name" class="text-danger"></span>

                        <input type="text" asp-for="name" class="form-control" placeholder="Nhập tên dự án" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="startTime">Ngày bắt đầu</label>
                        <span class="text-danger">*</span>
                        <span asp-validation-for="startTime" class="text-danger"></span>

                        <input class="form-control" type="date" value="" asp-for="startTime" />

                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="endTime">Ngày kết thúc</label>
                        <span class="text-danger">*</span>
                        <span asp-validation-for="endTime" class="text-danger"></span>

                        <input class="form-control" type="date" value="" asp-for="endTime" />
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo dự án</button>
                </form>
            </div>
        </div>
    </div>
</div>
