@model Project
@{
    var user = ViewData["User"];
}
    <div class="modal fade" id="basicModal" tabindex="-1" style="display: none" aria-labelledby="modalCenterTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="modalCenterTitle">Tạo dự án</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <form method="POST" asp-controller="Project" asp-action="Create">
                    <input asp-for="mainProject" value="@null" hidden />
                    <div class="mb-2">
                        <label class="form-label" for="upload" asp-for="background" >Hình nền</label>
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <label for="upload" tabindex="0">
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file"
                                       class="account-file-input"
                                       asp-for="background"
                                       id="upload"
                                       hidden
                                       accept="image/png, image/jpeg" />
                                <img src="/assets/img/elements/1.jpg"
                                     alt="user-avatar"
                                     class="d-block rounded"
                                     height="200"
                                     width="600"
                                     id="uploadedAvatar" />
                            </label>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="name">Tên dự án</label>
                        <input type="text" asp-for="name" class="form-control" placeholder="Nhập tên dự án" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="startTime">Ngày bắt đầu</label>
                        <input class="form-control" type="date" value="" asp-for="startTime" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="finishTime">Ngày kết thúc</label>
                        <input class="form-control" type="date" value="" asp-for="finishTime" />
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo dự án</button>
                </form>
            </div>
           
        </div>
    </div>
</div>

