@{
    Layout = "_LayoutProject";
}
<partial name="~/Views/Shared/Partial/_NavLeft.cshtml" view-data='@new ViewDataDictionary(ViewData) { { "TitleProject", "PTASK" } }' />
<div class="main-wrapper ">
    <main class="main users chart-page" id="skip-target">
        <div class="container-xxl flex-grow-1 container-p-y" style="margin-top: 5%;">
            <h5 class="pb-1 mb-4">Dự án đang thực hiện</h5>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75%
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <h5 class="pb-1 mb-4">Dự án đã hoàn thành</h5>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <h5 class="pb-1 mb-4">Dự án được tham gia</h5>
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 card-img-overlay text-white">
                    <a class="card mb-3 card-effect p-3" asp-controller="DetailProject" asp-action="Index">
                        <!-- <img class="card-img" src="~/assets/img/elements/11.jpg" alt="Card image" /> -->
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text mt-4">Tiến độ dự án</p>
                        <div class="progress mt-2">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 style="width: 75%"
                                 aria-valuenow="75"
                                 aria-valuemin="0"
                                 aria-valuemax="100">
                                75
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </main>
</div>

@section Scripts{
    <script>
        $('.card-effect').css({ 'background-image': 'url(/assets/img/elements/7.jpg)' })
        const main = document.querySelector('.card-effect');
        const styles = window.getComputedStyle(main);
        const image = styles.backgroundImage;
        const url = image.slice(5, -2);
        localStorage.setItem('url', url);
    </script>
}