@model PTASK.Models.WorkCreate
<div class="modal fade" id="modalWork" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel1">Tạo công việc</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-area="" asp-controller="Work" asp-action="Create">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label text-none" asp-for="name">Tên công việc</label>
                            <input type="text" asp-for="name" class="form-control" placeholder="Nhập tên công việc" />
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="form-label text-none" asp-for="startTime">Ngày bắt đầu</label>
                        <input class="form-control" type="date" value="" asp-for="startTime" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label text-none" asp-for="endTime">Ngày kết thúc</label>
                        <input class="form-control" type="date" value="" asp-for="endTime" />
                    </div>
                    <div class="btn-group" style="width: 100%;">
                        <a href="javascript:void(0);"
                           class=" list-group-item list-group-item-action d-flex align-items-center me-2"
                           data-bs-toggle="dropdown"
                           data-bs-auto-close="outside"
                           aria-expanded="false"
                           style="width: 26%;">
                            Phân công <i class='bx bx-chevrons-right'></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="dropend">
                                    <button class="dropdown-item"
                                       data-bs-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false"
                                       id="selectLeader">Quản lý công việc</button>
                                    <div class="dropdown-menu dropdown-menu-end w-px-300 p-2">
                                        <div class="mb-3">
                                            <input type="email"
                                                   id="emailLeader"
                                                   list="datalistOptions"
                                                   class="form-control me-2"
                                                   placeholder="Tìm kiếm email" />
                                        </div>
                                        <button type="button" class="btn btn-primary" id="addLeader">Thêm</button>
                                        <button type="button" class="btn btn-outline-secondary">Hủy</button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="dropend">
                                    <button class="dropdown-item selectTeam" data-bs-toggle="dropdown">
                                        1 nhóm
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-end w-px-300 p-2">
                                        <div class="mb-3">
                                            <label class="form-label">Danh sách nhóm</label>
                                            <select id="dataListTeam" class="select2 form-select selectedTeam">
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-outline-secondary">Hủy</button>
                                        <button type="button" class="btn btn-primary" id="btnAddTeam">Thêm</button>
                                        <a class="text-primary btn float-end" asp-area="" asp-controller="Member" asp-action="ListGroups">
                                            <u>Tạo nhóm</u>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="list-group" id="leaderList">
                        </ul>
                        <input type="hidden" asp-for="leaderId" id="leaderId" />
                    </div>
                    <div class="mb-2 mt-2">
                        <ul style="width: 100%;" id="formTeam">
                        </ul>
                        <input asp-for="teamId" id="teamId" hidden />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Lưu
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>