<div class="modal fade" id="detailWork" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Tên công việc</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-between p-3">
                <div class="col-9 pe-2">
                    <div class="row g-2">
                        <b>Danh sách nhiệm vụ</b>
                    </div>
                    <div class="demo-inline-spacing">
                        <ul class="list-group listToDo">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" />
                                Soufflé pastry pie ice
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" />
                                Bear claw cake biscuit
                            </li>
                        </ul>
                    </div>
                    <div class=" g-2 mt-2" id="txt-toDo">
                        <input type="text"
                               class="form-control"
                               placeholder="Thêm việc cần làm" />
                        <button id="btn-addToDo" type="button" class="mt-2 btn btn-outline-success"><i class='bx bx-plus'></i>Thêm</button>
                    </div>
                    <hr class="mt-4" />
                    <div class="row g-2 mt-2">
                        <b>Thời gian thực hiện</b>
                        <div class="col d-flex align-items-center justify-content-between">
                            <label for="time-start" class="col-form-label">Thời gian bắt đầu</label>
                            <input class="form-control" type="time" value="" id="time-start" />
                        </div>
                        <div class="col d-flex align-items-center justify-content-between">
                            <label for="time-end" class="col-form-label">Thời gian thúc</label>
                            <input class="form-control" type="time" value="" id="time-end" />
                        </div>
                    </div>

                    <div class="row g-2">
                        <b>Ngày thực hiện</b>
                        <div class="col d-flex align-items-center justify-content-between">
                            <label for="date-start" class="col-form-label">Ngày bắt đầu</label>
                            <input class="form-control" type="date" value="" id="date-start" />
                        </div>
                        <div class="col d-flex align-items-center justify-content-between">
                            <label for="date-end" class="col-form-label">Ngày kết thúc</label>
                            <input class="form-control" type="date" value="" id="date-end" />
                        </div>
                    </div>
                    <hr />

                    <div class="row mt-2">
                        <div class="col mb-3 ">
                            <label for="nameWithTitle" class="form-label">
                                <i class="bx bx-comment"></i> Bình luận
                            </label>
                            <div class="input-group  avatar-group">
                                <span data-bs-toggle="tooltip"
                                      data-popup="tooltip-custom"
                                      data-bs-placement="top"
                                      class="avatar avatar-xs pull-up"
                                      title="Lilian Fuller">
                                    <img src="/assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
                                </span>
                                <textarea id="basic-icon-default-message"
                                          class="ms-1 form-control"
                                          placeholder="Viết bình luận của bạn"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 33%" class="ms-2">
                    <div class="row">
                        <div class="col ms-2">
                            <b>Thao tác</b>
                        </div>
                    </div>
                    <div class="demo-inline-spacing mt-2">
                        <div class="list-group list-group-flush">
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action">
                                <i class='bx bx-user-plus me-2'></i>Phân công
                            </a>
                            <a href="javascript:void(0);" id="btn-toDo" class="list-group-item list-group-item-action">
                                <i class='bx bx-check-double me-2'></i>Việc cần làm
                            </a>
                            <a href="javascript:void(0);" t class="list-group-item list-group-item-action">
                                <i class='bx bx-link me-2'></i>Đính kèm
                            </a>
                            <a href="javascript:void(0);" t class="list-group-item list-group-item-action">
                                <i class='bx bx-receipt me-2'></i>Báo cáo
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-2">
                            <b>File đính kèm</b>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-2">
                            <b>Người thực hiện</b>
                        </div>
                        <ul class="">
                            <li class="m-1"
                                data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                title="Lilian Fuller">
                                <img src="/assets/img/avatars/5.png" alt="Avatar" class="rounded-circle pull-up" width="35" height="35" />
                                <strong class="ms-2">Lilian Fuller</strong>
                            </li>
                            <li class="m-1"
                                data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                title="Lilian Fuller">
                                <img src="/assets/img/avatars/5.png" alt="Avatar" class="rounded-circle pull-up" width="35" height="35" />
                                <strong class="ms-2">Lilian Fuller</strong>
                            </li>
                            <li class="m-1"
                                data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                title="Lilian Fuller">
                                <img src="/assets/img/avatars/5.png" alt="Avatar" class="rounded-circle pull-up" width="35" height="35" />
                                <strong class="ms-2">Lilian Fuller</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col m-2">
                            <b>Tiến độ nhiệm vụ</b>
                            <div class="progress mt-2">
                                <div class="progress-bar bg-success"
                                     role="progressbar"
                                     style="width: 40%"
                                     aria-valuenow="40"
                                     aria-valuemin="0"
                                     aria-valuemax="100">40%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>