@using Microsoft.Extensions.Caching.Memory;
@model WorkCreate

@{
    var cache = Context.RequestServices.GetRequiredService<IMemoryCache>();
    var mainId = cache.Get("MainProject");
    var userId = cache.Get("UserId");
    var avatarUser = cache.Get("Avatar");
    var isLeader = cache.Get("isLeader");
}
<div class="modal fade" id="workDetail" tabindex="-1" aria-hidden="true">
    <input type="hidden" value="@mainId" id="mainId" />

    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
         <form asp-controller="Work" asp-action="Create" style="width: 100%">
            <input type="hidden" id="_idUpdate" name="_idUpdate" value="" />
            <input type="hidden" id="userIdComment" name="userIdComment" value="@userId" />

            <div class="modal-content">
                <div class="modal-header">
                    <input class="mt-2 ms-2 ip-list" asp-for="name" id="nameWork">
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-between p-3">
                    <div class="col-9 pe-2">
                        <div class="d-flex justify-content-between">
                            <b>Danh sách nhiệm vụ</b>
                            <span>
                                <a asp-area="" 
                                   asp-controller="Task" 
                                   asp-action="Index" asp-route-isBack="true" class="text-primary view-detail">Xem chi tiết >></a>
                            </span>
                        </div>
                        <div class="demo-inline-spacing">
                            <ul class="list-group listToDo">
                            </ul>
                        </div>
                        <hr class="mt-4" />

                        <div class="g-2">
                            <b>Ngày thực hiện</b>
                            <div class="col d-flex align-items-center justify-content-between mb-3">
                                <label asp-for="startTime" class="col-form-label">Ngày bắt đầu</label>
                                <input class="form-control" type="date" value="" id="date-start" asp-for="startTime"/>
                            </div>
                            <div class="col d-flex align-items-center justify-content-between">
                                <label asp-for="endTime" class="col-form-label">Ngày kết thúc</label>
                                <input class="form-control" type="date" value="" id="date-end" asp-for="endTime" />
                            </div>
                        </div>
                        <div class="g-2">
                            <b>Tiến độ công việc</b>
                            <div class="progress mt-2">
                                <div id="percentWork" class="progress-bar bg-success"
                                     role="progressbar"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row mt-2">
                            <div class="col mb-3 ">
                                <label for="" class="form-label">
                                    <i class="bx bx-comment"></i> Bình luận
                                </label>
                                <div class="commentWork">
                                </div>
                                <div class="input-group avatar-group">
                                    <span class="avatar avatar-xs pull-up">
                                        <img src="@avatarUser" alt="Avatar" class="rounded-circle" />
                                    </span>
                                    <textarea id="commentText"
                                              class="ms-1 form-control"
                                              placeholder="Viết bình luận của bạn"></textarea>
                                </div>
                                <button type="button" id="addCommentWork" class="btn btn-sm btn-primary mt-2 position-absolute end-0">Nhập</button>
                            </div>
                        </div>
                    </div>
                    <div style="width: 33%" class="ms-2">
                        <div class="row">
                            <div class="col ms-2">
                                <b>Thao tác</b>
                            </div>
                        </div>
                        <div class="demo-inline-spacing mt-2">
                            <div class="list-group list-group-flush">
                                <a href="javascript:void(0);"
                                   class="list-group-item list-group-item-actio"
                                   data-bs-toggle="dropdown"
                                   data-bs-auto-close="outside"
                                   aria-expanded="false">
                                    <i class='bx bx-user-plus me-2'></i>Phân công
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="dropend">
                                            <button class="dropdown-item selectTeam" data-bs-toggle="dropdown">
                                                1 nhóm
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end w-px-300 p-2">
                                                <div class="mb-3">
                                                    <label class="form-label">Danh sách nhóm</label>
                                                    <select id="listTeamDetailWork" class="select2 form-select selectedTeam">
                                                    </select>
                                                </div>
                                                <button type="button" class="btn btn-outline-secondary">Hủy</button>
                                                <button type="button" class="btn btn-primary" id="btnListTeamDetail">Thêm</button>
                                                <a class="text-primary btn float-end" asp-area="" asp-controller="Member" asp-action="ListGroups">
                                                    <u>Tạo nhóm</u>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="list-group" id="leaderList" >
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m-2">
                                <b>Nhóm thực hiện</b>
                            </div>
                            <ul class="listTeamInDetailWork">
                            </ul>
                            <input type="hidden" asp-for="teamId" id="idTeamInDetailProject"/>
                        </div>
                    </div>
                </div>
               
                <div class="modal-footer">
                    @if (userId.Equals(mainId))
                    {
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Đóng
                        </button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    }
                </div>
              
            </div>
         </form>
    </div>
</div>