@{
    ViewData["Title"] = "PTASK";
}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Thông tin cơ bản về PTASK</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    Không cần bắt đầu từ đầu. Bạn có thể nhanh chóng bắt đầu quy trình làm việc với sổ chiến lược đã được chứng minh hiệu quả dành cho các đội nhóm khác nhau. Hãy tùy chỉnh thành sổ chiến lược của riêng bạn.
                </p>
                <ul>
                    <li><i class="ri-check-double-line"></i> Theo dõi công việc theo một cách hoàn toàn mới</li>
                    <li><i class="ri-check-double-line"></i> Luôn hoàn thành công việc đúng thời hạn</li>
                    <li><i class="ri-check-double-line"></i> Năm bắt mọi nhiệm vụ</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    [PTASK] lý tưởng cho việc đơn giản hóa các quy trình. Là người quản lý, tôi có thể chia [quy trình] thành từng phần nhỏ cho nhóm rồi phân công công việc nhưng vẫn có thể quan sát toàn bộ quy trình.
                </p>
                <p>
                    Dù làm việc ở văn phòng, làm việc tại nhà hay tại địa điểm với khách hàng, ai cũng có thể chia sẻ bối cảnh và thông tin qua PTASK.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->

<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
                <div class="content">
                    <h3><strong>Đỉnh cao về năng suất</strong></h3>
                    <p>
                        Đơn giản, linh hoạt và mạnh mẽ. Chỉ với Dự án, nhiệm vụ và thẻ, bạn sẽ biết rõ ai đang làm gì và những việc cần làm.
                    </p>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li>
                            <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>Các dự án<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    Dự án PTASK giúp bạn sắp xếp hợp lý các nhiệm vụ của dự án và thúc đẩy công việc. Bạn có thể xem mọi thông tin, từ việc cần làm đến việc đã hoàn thành, chỉ trong nháy mắt.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span>Nhiệm vụ<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Các giai đoạn khác nhau của một nhiệm vụ. Hãy bắt đầu thật đơn giản với "Việc cần làm" - "Việc đang làm" - "Việc đã xong" hoặc xây dựng một quy trình làm việc tùy chỉnh theo đúng nhu cầu của nhóm bạn. Với PTASK, cách nào cũng phát huy hiệu quả.
                                </p>
                            </div>
                        </li>

                        <li>
                            <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span>Thẻ<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Thẻ trình bày các nhiệm vụ và ý tưởng, đồng thời lưu giữ mọi thông tin giúp hoàn thành công việc. Trong quá trình thực hiện nhiệm vụ, bạn có thể di chuyển thẻ qua các danh sách để thể hiện trạng thái của thẻ.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

    </div>
</section><!-- End Why Us Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>PTASK giúp bạn làm được nhiều việc hơn</h2>
            <p>Các tính năng trực quan của PTASK mang đến cho mọi đội nhóm khả năng thiết lập và tùy chỉnh nhanh chóng quy trình làm việc, sẵn sàng đáp ứng mọi nhu cầu.</p>
        </div>

        <div class="row" style="display: flex; justify-content: center;">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><img src="assets/img/Integrations_Puzzle.png" alt=""></div>
                    <h4><a href="">Tiện ích tích hợp</a></h4>
                    <p>Kết nối các ứng dụng nhóm bạn đã sử dụng vào quy trình làm việc của bạn trong PTASK hoặc thêm Tiện ích bổ sung giúp điều chỉnh các nhu cầu cụ thể.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><img src="assets/img/Gears.png" alt=""></div>
                    <h4><a href="">Tự động hóa với Butler</a></h4>
                    <p>Mọi bảng PTASK đều tích hợp tính năng tự động hóa không cần mã. Bạn có thể tập trung vào công việc quan trọng nhất, phần còn lại đã có robot lo.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><img src="assets/img/Search_Value.png" alt=""></div>
                    <h4><a href="">PTASK Enterprise</a></h4>
                    <p>Công cụ năng suất mà các nhóm yêu thích, được kết hợp với các tính năng và sự an toàn cần thiết để mở rộng quy mô.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Quy trình làm việc cho mọi dự án, bất kể nhỏ to</h2>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
                        Quản lý dự án<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
                    </a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Sắp xếp nhiệm vụ, bám sát thời hạn và giúp các thành viên nhóm theo sát công việc.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Động não<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Giải phóng sức sáng tạo cũng như giúp ý tưởng trở nên trực quan, mang tính cộng tác và khả thi.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Cuộc họp<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Giúp các cuộc họp nhóm trở nên hiệu quả, mạnh mẽ và luôn thú vị.
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Quản lý nhiệm vụ<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Sử dụng PTASK để theo dõi, quản lý, hoàn thành và tập hợp các nhiệm vụ giống như các mảnh ghép trong một bức tranh và giúp dự án của nhóm luôn gặt hái thành công mang tính gắn kết.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="500">
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">CRM<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Tùy chỉnh CRM để giúp đội ngũ bán hàng quản lý khách hàng tiềm năng và tài khoản một cách hiệu quả.
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="600">
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Lịch tùy chỉnh<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Sử dụng PTASK như trung tâm quản lý đáng tin cậy để tuyển lựa, sửa đổi, bàn giao và xuất bản nội dung.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->
